.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    .constent {
        flex: 1;
        width: 100%;

        .crabImg {
            position: absolute;
            top: 80px;
            right: 0;
            width: 282px;
            height: 248px;
            z-index: 100;
        }

        .crabTitleImg {
            position: absolute;
            top: 172px;
            left: 20px;
            width: 273px;
            height: 235px;
        }

        .parallaxContainer {
            display: none;
        }

        .crabImgDesktop {
            display: none;
        }

        .crabTitleImgDesktop {
            display: none;
        }

        .crabNetDesc {
            // width: 335px;
            // height: 80px;
            font-size: 16px;
            font-family: IBMPlexSans;
            color: #6330DD;
            line-height: 20px;
            margin: 0 20px;
            margin-top: 380px;
            text-align: start;
            margin-left: 5px;
        }

        .crabCoolImg {
            margin: 20px 0;
            width: 335px;
            height: 254px;
        }

        .economicTitle {
            width: 335px;
            height: 39px;
            font-size: 30px;
            font-family: IBMPlexSans-SemiBold, IBMPlexSans;
            font-weight: 600;
            color: #080C20;
            line-height: 39px;
            background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 0 auto;
        }

        .economicDesc {
            width: 335px;
            // height: 260px;
            font-size: 16px;
            font-family: IBMPlexSans;
            color: #6330DD;
            line-height: 20px;
            text-align: start;
            margin: 10px auto;

            .desc1,
            .desc2 {
                margin: 20px auto;
            }
        }

        .readMoreBtn {
            width: 335px;
            height: 40px;
            background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
            border-radius: 20px;

            .content {
                width: 76px;
                height: 18px;
                font-size: 14px;
                font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                font-weight: 600;
                color: #FFFFFF;
                line-height: 18px;
                text-align: start;
            }
        }

        .wareShadowWrapper {
            margin-top: 10px;

            .wareShadow {
                // width: 375px;
                // height: 2099px;
                // margin-top: -180px;
                background-color: rgba(216, 216, 216, 0.2);
                border: 1px solid rgba(255, 255, 255, 0);

                .parachainAuction {
                    // width: 335px;
                    height: 39px;
                    font-size: 30px;
                    font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                    font-weight: 600;
                    color: #080C20;
                    line-height: 39px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin: 30px auto;
                    margin-top: 40px;
                }

                .crowdfunding {
                    // width: 125px;
                    height: 24px;
                    font-size: 19px;
                    font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                    font-weight: 600;
                    color: #080C20;
                    line-height: 24px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin: 30px auto;
                }

                .auctionCard {
                    // width: 335px;
                    // height: 310px;
                    background: #FFFFFF;
                    border-radius: 30px;
                    margin: 20px;
                    padding: 0 15px;
                    padding-bottom: 15px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .content {
                        // width: 295px;
                        // height: 120px;
                        font-size: 16px;
                        font-family: IBMPlexSans;
                        color: #6330DD;
                        // line-height: 20px;
                        text-align: start;
                    }
                }

                .participate {
                    // width: 164px;
                    height: 24px;
                    font-size: 19px;
                    font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                    font-weight: 600;
                    color: #080C20;
                    line-height: 24px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-top: 30px;
                }

                .contentBox {
                    // width: 335px;
                    // height: 94px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    border-radius: 30px;
                    padding: 20px 15px;
                    margin: 20px 30px;

                    .content {
                        // width: 295px;
                        // height: 54px;
                        font-size: 14px;
                        font-family: IBMPlexSans;
                        color: #FFFFFF;
                        line-height: 18px;
                        text-align: start;
                    }
                }

                .kusama {
                    background: url(./img/mobile-kusama-bg.png) center center no-repeat;
                    background-size: 100% 100%;

                    padding: 30px 0;
                    padding-top: 60px;

                    .title {
                        margin: 10px;
                        width: 176px;
                        height: 41px;
                    }

                    .content {
                        // width: 335px;
                        // height: 254px;
                        font-size: 14px;
                        font-family: IBMPlexSans-Medium, IBMPlexSans;
                        font-weight: 500;
                        color: #FFFFFF;
                        line-height: 18px;
                        text-align: start;
                        margin: 20px;
                    }

                    .readMoreBtn {
                        width: 219px;
                        height: 40px;
                        background: #FFFFFF;
                        border-radius: 20px;

                        margin: 10px 0;
                        margin-bottom: 25px;

                        .content {
                            // width: 80px;
                            // height: 18px;
                            font-size: 14px;
                            font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                            font-weight: 600;
                            color: #FFFFFF;
                            line-height: 18px;
                            background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

// Desktop
@media (min-width: 576px) {
    .container {
        // display: none;

        .constent {
            flex: 1;

            .crabImg {
                display: none;
            }

            .crabTitleImg {
                display: none;
            }

            .parallaxContainer {
                display: block;
                overflow: hidden;
            }

            .crabImgDesktop {
                width: 823px;
                height: 607px;
                display: block;
                position: absolute;
                left: 48% !important;
                right: 0px !important;
                top: 30px !important;
                z-index: 100;
            }

            .crabTitleImgDesktop {
                width: 1021px;
                height: 339px;
                display: block;
                position: absolute;
                left: 0 !important;
                right: auto !important;
                top: 230px !important;
            }

            .containerTitleCN {
                display: block;
                position: absolute;
                top: 220px !important;
                left: 0 !important;
                text-align: left;

                .title {
                    // width: 1046px;
                    // height: 182px;
                    font-size: 152px;
                    font-family: SFUIDisplay-Black, SFUIDisplay;
                    font-weight: 900;
                    color: #080C20;
                    line-height: 182px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .subtitle {
                    // width: 813px;
                    // height: 118px;
                    font-size: 84px;
                    font-family: SFUIDisplay-Black, SFUIDisplay;
                    font-weight: 900;
                    color: #080C20;
                    line-height: 100px;
                    background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .crabNetDesc {
                height: 66px;
                font-size: 25px;
                font-family: IBMPlexSans-Bold, IBMPlexSans;
                font-weight: bold;
                color: #6330DD;
                line-height: 33px;
                margin-left: 0px;
                margin-top: 0px;
            }

            .economicTitle {
                width: 100%;
                height: 65px;
                font-size: 50px;
                font-family: IBMPlexSans-Bold, IBMPlexSans;
                font-weight: bold;
                color: #080C20;
                line-height: 65px;
                background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 0;
                text-align: left;
            }

            .economicDesc {
                margin: 0;
                width: 470px;
                // height: 200px;
                font-size: 16px;
                font-family: IBMPlexSans;
                color: #6330DD;
                line-height: 20px;
            }

            .readMoreBtn {
                width: 219px;
                height: 40px;
                background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                border-radius: 20px;

                .content {
                    width: 80px;
                    height: 18px;
                    font-size: 14px;
                    font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                    font-weight: 600;
                    color: #FFFFFF;
                    line-height: 18px;
                }
            }

            .wareShadowWrapper {
                margin-top: -180px;

                .wareShadow {
                    .parachainAuction {
                        width: 436px;
                        height: 65px;
                        font-size: 50px;
                        font-family: IBMPlexSans-Bold, IBMPlexSans;
                        font-weight: bold;
                        color: #080C20;
                        line-height: 65px;
                        background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .crowdfunding {
                        width: 197px;
                        height: 39px;
                        font-size: 30px;
                        font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                        font-weight: 600;
                        color: #080C20;
                        line-height: 39px;
                        background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    .auctionCard {
                        width: 369px;
                        height: 389px;
                        background: #FFFFFF;
                        border-radius: 70px;

                        .content {
                            width: 309px;
                            height: 100px;
                            font-size: 16px;
                            font-family: IBMPlexSans;
                            color: #6330DD;
                            line-height: 20px;
                            margin-top: 30px;
                        }
                    }

                    .participateZoom {
                        background: url(./img/desktop-crab-participate.png) center center no-repeat;
                        background-size: 2370px 1074px;

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 20px;

                        .participate {
                            width: 268px;
                            height: 39px;
                            font-size: 30px;
                            font-family: IBMPlexSans-SemiBold, IBMPlexSans;
                            font-weight: 600;
                            color: #080C20;
                            line-height: 39px;
                            background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin: 0 auto;
                            // margin-top: -80px;
                        }

                        .contentBox {
                            width: 554px;
                            height: 142px;
                            background: linear-gradient(315deg, #FF0050 0%, #7000FF 71%, #0027FF 100%);
                            border-radius: 71px;

                            display: flex;
                            justify-content: left;
                            align-items: center;

                            img {
                                margin: 0 20px;
                            }

                            .content {
                                width: 310px;
                                height: 80px;
                                font-size: 16px;
                                font-family: IBMPlexSans;
                                color: #FFFFFF;
                                line-height: 20px;
                            }
                        }

                        .kusama {
                            background: transparent;
                            margin-top: 160px;

                            .content {
                                width: 770px;
                                font-size: 16px;
                                font-family: IBMPlexSans-Medium, IBMPlexSans;
                                font-weight: 500;
                                color: #FFFFFF;
                                line-height: 20px;
                                margin: 20px auto;
                            }

                            .readMoreBtn {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}