@import '../../css/custom.scss';

.crabContainer {
  height: 60px;
  background: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    height: 20px;
    font-size: 16px;
    font-family: IBMPlexSans;
    color: #6330DD;
    line-height: 20px;
  }
}

// Desktop
@media (min-width: $width-toggle) {
  .container {
    background: #FFFFFF;

    .content {
      height: 18px;
      font-size: 14px;
      font-family: IBMPlexSans;
      color: #6330DD;
      line-height: 18px;
    }
  }
}