.chainSelectModal {
  :global {
    .ant-modal-content {
      border-radius: 10px;

      .ant-modal-header {
        border-radius: 10px 10px 0 0;
      }
    }
  }
}

%-base-btn {
  cursor: pointer;
  transition: all 0.3s;
  position: relative;

  &:hover {
    opacity: 0.7;
  }
}

.mainBtn {
  @extend %-base-btn;
  border-radius: 0.25rem;
  padding: 6px 15px;
  background: transparent;
  border: 1px solid rgba(81, 45, 188, 0.7);

  >span {
    font-size: 16px;
    color: rgba(81, 45, 188, 1);
  }
}

.chainSelectModalTitle {
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}

.chainSelectList {
  > li {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }
}

%-chain-select-list-text {
  color: black;
  font-weight: bolder;
  font-size: 1.1em
}

.chainSelectBtn {
  @extend %-base-btn;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid rgba(81, 45, 188, 0.7);
  min-width: 110px;
  border-radius: 0.25rem;

  >span {
    @extend %-chain-select-list-text;
    font-size: 16px;
    font-weight: normal;
  }
}

.chainSelected {
  @extend %-chain-select-list-text;
  display: inline-block;
  padding: 5px 0;
  font-size: 16px;
  font-weight: normal;
}
