@import '../../style/style.module';

.container {
  .containerWrapper {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navBar {
        padding: 0;

        .toggler {
          padding: 0;
        }
      }

      .logoMobile {
        display: block;
      }

      .logoDesktop {
        display: none;
      }

      .navBar {
        background: transparent !important;
      }
    }
  }
}

.sideBarSpace {
  height: 10%;
}

.sideBarContent {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .sideBarLink {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .sideBarDocs,
    .sideBarGithub,
    .sideBarWhitePaper {
      font-size: 20px;
      font-family: Eina01-SemiBold, Eina01;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 27px;
    }
  }

  .sideBarLangBtn {
    width: 65px;
    border-radius: 4px;
    border: 1px solid #FEFEFF;
    padding: 2px;
    margin-bottom: 30px;

    .sideBarLangImg {
      width: 22px;
      margin-right: 5px;
    }

    .sideBarLangWord {
      font-size: 14px;
      font-family: IBMPlexSans-SemiBold, IBMPlexSans;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 18px;
    }
  }
}

// Desktop
@media (min-width: $width-toggle) {
  .container {
    .containerWrapper {
      .row {
        .logoMobile {
          display: none;
        }

        .logoDesktop {
          display: block;
        }

        .navBar {
          .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .docs,
          .github,
          .whitePaper {
            font-size: 16px;
            font-family: IBMPlexSans-Medium, IBMPlexSans;
            font-weight: 500;
            color: #6330DD;
            line-height: 22px;
          }

          .docs {
            margin-right: 8px;
          }

          .github,
          .whitePaper {
            margin: 0 8px;
          }

          .lngMenu {
            border-radius: 4px;
            border: 1px solid #6330DD;
            margin-left: 10px;
          }

          .lngMenuTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: -5px 0;

            .lngImg {
              height: 22px;
              margin-right: 5px;
            }

            .lngWord {
              font-size: 14px;
              font-family: IBMPlexSans-SemiBold, IBMPlexSans;
              font-weight: 600;
              color: #6330DD;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}