@import "~bootstrap/scss/bootstrap";
@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-image: url(./style/img/background.svg);
  min-height: 100vh;
}

@media (min-width: 576px) {
  .App {
    min-width: 1096px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Rajdhani;
  src: url('./style/font/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani;
  src: url('./style/font/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani;
  src: url('./style/font/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  color: #000
}

.cs-header .dropdown-toggle::after {
  display: none;
}

.navbar-light .navbar-toggler-icon {
  background: url("./style/img/navbar-toggler-icon.png") top center no-repeat;
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
}

.btn-light {
  background: transparent;
}

.btn-light:active, .btn-light:hover, .btn-light:focus {
  background: transparent;
}
